.form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form > input {
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  background-color: var(--color-dark-gray);
  outline: none;
  border: none;
  color: var(--color-white);
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-right: 5rem;
}

.form > input::placeholder {
  opacity: 0.5;
  font-size: 1.4rem;
  color: var(--color-gray);
}

.form > button {
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  background-color: var(--color-orange);
  outline: none;
  border: none;
  font-size: 1.4rem;
}

.form > button:hover {
  opacity: 0.8;
  cursor: pointer;
}