@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');



:root {

  --color-gray: #8385A9;
  --color-orange: #FB5E84;
  --color-black-1: #191A23;
  --color-black: black;
  --color-dark-gray: #343650;
  --color-white: white;

  --font-family-primary: 'Red Hat Text', sans-serif;
  --font-weight-primary: 700;
}

* {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('./images/bg-stars.svg');
}